* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 93vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 15%;
  align-items: center;
  text-align: center;
}

.title {
  color: rgb(0, 68, 255);
}

.title span {
  color: red;
  font-size: 36px;
}

.title:hover {
  transition: all 0.5s;
  transform: scale(1.02);
}

.come {
  margin-top: 1.5%;
  width: 150px;
  padding: 13px 20px;
  font-size: 20px;
  box-shadow: 0px 4px 8px black;
  background-color: rgb(7, 243, 50);
  border: none;
  cursor: pointer;
}

.come:active {
  transform: scale(1.02);
}

/* Header */

.header {
  position: fixed;
  width: 100vw;
  height: 60px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 68, 255, 0.9);
  box-shadow: 0 3px 6px black;
}

.header h1 {
  margin-top: 10px;
}

/* Footer */

.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 68, 255, 0.9);
}

.main2 {
  width: 25%;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.836);
  color: #fff;
}

.regions {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  cursor: pointer;
}

.regions:hover {
  background-color: rgba(0, 2, 10, 0.83);
}
